img {
	max-width: 100%;
}

.columns {
	min-height: 30px;
	list-style-type : none;
	margin-bottom: 20px;
	display: block;
	padding-top: 8px;
	padding-right: 30px;
}

.case {
	text-decoration: none;
  	display : inline;
}

a.bouton:link {
	color: white;
}

a.bouton:visited {
	color: white; 
}


.left{
	float: left;
}

.right {
	float: right;
}

.columns, .case, .bouton:hover {
 background-color:#663366;
 } 


html {
	background-color: white;
  	text-align:justify;
	text-justify: inter-word;
}

h1,h2,h3,h4,h5,h6,li,p {
  font-family: "Free Sans";
  font-weight: 400;
}

h1,h2,h3,h4 {
	color : #0087c2;
}

p,li,h5,h6 {
	color : #555555;
}

.footer {
	float: bottom;
	background-color: #E2E2E2;
	text-align:center;
	width: 100%;
}