html {
  background-color: white;
  text-align:justify;
  text-justify: inter-word;
  font-family: "Open Sans" , Verdana;
}

.titlenick {
  color: #0087c2;
}

.separator {
  width:50%;
  size:5px;
  color: #0087c2;
  align:right;
  noshade;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-right: 25%;
  margin-left: 20px;
} 

img {
	max-width: 100%;
}

pre {
  width: 75%;
}

.active {
  background-color: grey;
  height: 100%;
}

.columns { 
  min-height: 30px;
  list-style-type : none;
  margin-bottom: 20px;
  display: block;
  padding-top: 12px;
  padding-right: 30px;
}

.case {  
  height: 30px;
  display : inline;
  padding : 0 0.5em;
  text-decoration: none;
  position: static;
}

a.bouton:link {
	color: white;
}

a.bouton:visited {
	color: white; 
}


.left{
	float: left;
}

.right {
	float: right;
}

.columns, .case{
 background-color:#663366;
 } 

h1,h2,h3,h4,h5,h6,li,p {
  font-family: "Open Sans" , Verdana;
  font-weight: 400;
}

h1,h2,h3,h4 {
	color : #0087c2;
}

p,li,h5,h6 {
	color : #555555;
}

.footer {
	float: bottom;
	background-color: #E2E2E2;
	text-align:center;
	width: 100%;
}