html {
  background-color: white;
  text-align:justify;
  text-justify: inter-word;
}

.columns 
{ min-height: 30px;
  list-style-type : none;
  margin-bottom: 20px;
  display: block;
  padding-top: 8px;
  padding-right: 30px;
}

.input {
  font-family: "Droid Sans";
  color: #fef4e9;
  font-size: 14px;
  padding: .5em 2em .55em;
  display: inline-block;
  background: #33cc4c;
  border-style:none;
}

.police {
  font-size: 14px;
  font-family: Droid Sans;
  color: #fef4e9;
  text-decoration: none;
}

.apply {
  padding: .5em 2em .55em;
  display: inline-block;
  background: #33cc4c;
  border-style:none;
}

.case {  
    display : inline;
    padding : 0 0.5em;
    text-decoration: none;
}

a.bouton:link {
  color: white;
}

a.bouton:visited {
  color: white; 
}


.left{
  float: left;
  border-right: solid 1px left;
}

.right {
  float: right;
}

.columns, .case, .bouton:hover {
 background-color:#663366;
 } 

.droid,h1,h2,h3,h4,h5,h6,li,p,label {
    font-family: "Droid Sans";
}

h1,h2,h3,h4,h5,h6,li,p,label {
  font-weight: 400;
}

h1,h2,h3,h4 {
  color : #0087c2;
}

p,li,h5,h6,label {
  color : #555555;
}

span {
  text-align:center;
}

.tableau p {
   clear:left;
   margin:0px;
   padding:0px;
   height:100% !important; height:1em;
  }
.legende {font-weight:bold}

.case1 {
  width:200px;
  background-color: white;
  display:inline;
  float:left;
  margin:0px;
  border-bottom: solid 1px black;
  padding:3px;
  }

.case2 {
  width:200px;
  border-left:solid black 1px;
  background-color: white;
  display:inline;
  float:left;
  margin:0px;
  border-bottom: solid 1px black;
  padding:3px;
  }

.separator {
  color: #0087c2;
}